<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://qm33.leaderhero.com/Publish/202004/18/23/20200418233508_co.momentlens.moment_CVD86X45GB_9310.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://is5-ssl.mzstatic.com/image/thumb/Purple123/v4/ed/86/ce/ed86ce07-b653-d683-e25b-481ba66223b1/source/100x100bb.jpg</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://is5-ssl.mzstatic.com/image/thumb/Purple123/v4/ed/86/ce/ed86ce07-b653-d683-e25b-481ba66223b1/source/100x100bb.jpg</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>1</string>
                <key>bundle-version</key>
                <string>4.0.2</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Pro Camera by Moment</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
